.card {
  background-color: #7bc1b740;
  padding: 15px;
  display: flex;
  margin: 25px 0 25px 0;
  border-radius: 10px;
}

.photo {
  width: 138px;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  padding-left: 25px;
  p {
    color: #858585;
    /* Jorem ipsum dolor, consectetur adipiscing elit. Nunc v libero et velit interdum, ac mattis. */
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    margin-top: 18px;

    /* or 12px */
    letter-spacing: -0.02em;
  }
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.buttonWrap {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.rating {
  display: flex;
  align-items: center;
  gap: 7px;
}
