.profileImage {
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

.profileSpan {
  margin: 0 auto;
  margin-top: 29px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  /* identical to box height, or 22px */
  text-align: center;
  letter-spacing: -0.02em;
}
